{% load staticfiles %}
<HTML>
    <HEAD>
        <TITLE>Credit Management</TITLE>
        <link rel="icon" type="image/png" sizes="18x18" href="{% static 'images/mlogo.png' %}">
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    </HEAD>
    <BODY background="{% static '/images/back3.jpg' %}">
        {% include 'Manage/initials/navbar.html' %}

        <div class="container-field">
          <br>
            <table style="font-size:  30; color: white;" align="center" >
              <tr>
                  <th style="padding:10px;" align="center">Trasaction From</th>
                  <th style="padding:10px;" align="center">Trasaction To</th>
                  <th style="padding:10px;" align="center">Trasaction Credit</th>
              </tr>


              {% for dta in data %}
              <tr>
                  {% if dta %}
                  <td style="padding: 10px;" align="center">
                    {{ dta.cfrom }}
                  </td>
                  <td style="padding: 10px;" align="center">
                    {{ dta.cto }}
                  </td>
                  <td style="padding: 10px;" align="center">
                    {{ dta.credit }}
                  </td>
                  {% endif %}
              </tr>
              {% endfor %}



            </table>
          </div>








        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static '/js/dashboard.js' %}" ></script>
        <script type="text/javascript" src="{% static '/js/common.min.js' %}" ></script>
        <script type="text/javascript" src="{% static '/js/custom.min.js' %}" ></script>
        <!-- <script type="text/javascript" src="{% static '/js/layout.js' %}" ></script> -->
      </BODY>
      </HTML>
